@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Eater|Just+Me+Again+Down+Here');
/*font-family: 'Eater', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Just Me Again Down Here', cursive;*/
* {
  box-sizing: border-box;
}

body{
    /* display: flex; */
    background-color: #1d1d1d;
    background-image: url('../Images/abandoned-broken-chair-158229.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    /* background-size: auto; */
    background-size: 100% 100%;
}

#navbar{
    background-color: black;
    color:beige;
    font-family: 'Amatic SC', cursive;
    opacity: 0.7;
    transition: 2s;
}

ul{
    color: whitesmoke;
    font-size: 20px;
}

.sidenav, #mobile-demo{
    background-color: black;
    color:white;
    font-size: 18px;
    font-family: 'Amatic SC', cursive;
    opacity: 0.7;

}
